* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Header */
header {
    border-bottom: 8px solid green;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #DCB21E;
    padding-bottom: 25px;
}

header img {
    width: 50px;
}

/* Estilizando a barra de pesquisa */
.search {
    display: flex;
    align-items: center;
    position: relative;
    width: 340px;
    padding: 10px ;
}

.search input {
    width: 100%;
    padding: 10px 40px; 
    border: none;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
}

/* icone de lupa em cima do input */
.search button {
    position: absolute;
    margin-left: -248px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.custom-icon {
    font-size: 20px; 
}

span {
    margin-top: 13px;
    cursor: pointer;
   margin-left: -57px;
}


/* NAVBAR  */

nav{
    width: 100%;
    border-bottom: 3px solid #DCB21E;
}

/*BOTÃO CAMPEONATO*/

.camp{
    padding: 6px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #21468A;
    border-radius: 14px;
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.4s ease;

}

.camp:hover{
    background-color: #DCB21E;
}

/*DROPDOWN CAMPEONATO*/

.drop1{
    position: relative;
    display: inline-block;
}

/*CONTEÚDO DROPDOWN*/

.conteudo-drop1{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
    width: 100%;
    pointer-events: none;
    margin-left: 130px;
}

.conteudo-drop1 a{
    color: #000;
    padding-top: 14px;
    text-decoration: none;
    display: block;
    position: relative;
}
/* CRIANDO A LINHA EM BAIXO DA PALAVRA */
.conteudo-drop1 a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #846a12;
    visibility: hidden;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.6s ease;
}

.conteudo-drop1 a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

.drop1:hover .conteudo-drop1,
.conteudo-drop1:hover{
    display: block;
    pointer-events: auto;
}

.conteudo-drop1 a:hover{
    background-color: #DCB21E;
}


/* Botão Transferência */

.transfer{
    padding: 6px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #21468A;
    border-radius: 14px;
    margin-left: 280px;
    margin-top: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.4s ease;
}

.transfer:hover{
    background-color: #DCB21E;
}

/* Clubes */

.clube{
    padding: 6px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #21468A;
    border-radius: 14px;
    margin-left: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.4s ease;
}

.clube:hover{
    background-color: #DCB21E;
}

/* Valor de Mercado */

.val-mrkt{
    padding: 6px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #21468A;
    border-radius: 14px;
    margin-left: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.4s ease;
}

.val-mrkt:hover{
    background-color: #DCB21E;
}


/* NOME CLUBE */

.nome-clube{
    border-bottom: 5px solid #21468A;
    margin-top: 15px;
    font-size: 50px;
    width:  25%;
}

.nome-clube>p{
    margin-left: 30px;
}

/* LOGO CLUBE E INFO DO CLUBE */

.time-logo-info-clube{
   
    display: flex;
    margin-top: 30px;
}

.time-logo-info-clube>img{
    width: 170px;
    margin-left: 130px;

}

.info-time{
   background-color: #21468A;
   border-radius: 18px;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.jogadores{
    margin-left: 20px;
    width: fit-content;
}

p{
    font-size: 30px;
}

.direita{
    color: #fff;
}

.esquerda{
   color: #fff;
    margin-left: 30px;
}

.estrangeiros{

    width: fit-content;
}

.med-etaria{
    margin-left: 20px;
    width: fit-content;
    margin-top: 70px;
}

.estadio{

    width: fit-content;
    margin-top: 70px;
}

.valor-mercado{
    background-color: #DCB21E;
    border-radius: 16px;
    margin-left: 30px;
    width: 300px;
    align-content: center;
    justify-items: center;
    margin-bottom: 70px;
    position: absolute;
    right: 60px;
    top: -37px;
}

.valor-mercado>h1{
    font-size: 45px;
    margin-top: 10px;
}

.valor-mercado>h4{
    font-size: 28px;
    margin-bottom: 60px;
}

/*  PROPAGANDA PT1 */

.propaganda1{
    width: 100%;
    border-top:4px solid #DCB21E ;
    background-color: #A7332C;
    height: 40px;
    justify-items: center;
    color: #fff;
    border-bottom: 8px solid #DCB21E;
}

/* TABELA E PROPAGANDA */

.tabela-e-propaganda{
    border: 2px solid #DCB21E;
    background-color: #0063AA;
    width: 65%;

}



table{
    border-collapse: collapse;
    margin-left: 12px;
    background-color: #fff;
}

table td, table th{
    border: 2px solid #E4E4E4;
    
}