* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    
}


/*cadastro*/
.left {

    width: 40%;
    justify-items: center;
    padding-top: 50px;
    font-size: 25px;
    text-transform: uppercase;
}

.btn-volta {
 
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    
}

#voltinha{
    cursor: pointer;
}

.left img {
    width: 70px;
    margin-bottom: 30px;
}

/* dados que os clubes vão colocar */
.dados {
    display: flex;
    flex-direction: column;
    position: relative;
}

.dados input {
    margin: 10px;
    height: 27px;
}

.cnpj {
    border-radius: 7px;
    border: none;
    border: 3px solid #21468A;
    width: 100%;
    padding-right: 40px;
    /* Espaço para o ícone */
    font-size: 15px;
}

.email {
    border-radius: 7px;
    border: none;
    border: 3px solid #21468A;
    width: 100%;
    padding-right: 40px;
    /* Espaço para o ícone */
    font-size: 17px;
}

.senha {
    border-radius: 7px;
    border: none;
    border: 3px solid #21468A;
    width: 100%;
    padding-right: 40px;
    /* Espaço para o ícone */
    font-size: 17px;
}

#ver_senha {
    position: absolute;
    right: -50px;
    /* Ajuste esses valores conforme necessário para alinhar com seu input */
    bottom: 12px;
    cursor: pointer;
}

.dados input::placeholder {
    padding-left: 10px;
}

/*BOTOES*/
.botoes {
    width: 75%;
    height: 100px;
    margin-top: 15px;
    padding-top: 10px;
}

.btn-cadastro {
    border: 2px solid #e2b917;
    width: 25%;
    height: 50px;
    margin-left: 100px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    background-color: #e2b917;
    border-radius: 6px;
    color: #fff;
    transition-duration: 0.5s;
}

.btn-cadastro:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.btn-login {
    border: 2px solid #e2b917;
    width: 25%;
    height: 50px;
    margin-left: 120px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    background-color: #e2b917;
    border-radius: 6px;
    color: #fff;
    transition-duration: 0.5s;
}

.btn-login:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

/* Recuperção de senha */
.rec-senha{
    font-size: 15px;
    margin-left: 213px;
    text-decoration: none;
    color: #21468A;
}

.rec-senha:hover{
    color: #c80e0e;
}

/*IMAGEM*/
.right {
    width: 60%;
    background-image: url('../img/logos/penta.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

